PORT=
MONGO_URI=
DB_NAME=
JWT_SECRET=
REDIS_URI=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
WEATHER_API_KEY=
SMTP_HOST=
SMTP_PORT=
EMAIL_USER=
EMAIL_PASS=
FRONTEND_URL=
GEMINI_API_KEY=
FRONTEND_URL=